<header>
<h1>Peegee</h1>
</header>

<h2>"Peegee" is Password Generators.</h2>
<h3>Standard</h3>
<p>If you want to generate a standard password, <br>
access <%= link_to g_index_url(format: :txt), g_index_path(format: :txt) %>
or <%= link_to g_index_url(format: :json), g_index_path(format: :json) %></p>
</p>

<h3>日本語の”ひみつの質問”</h3>
<p>if you wont to generate Japanese Secret Questions, <br>
access <%= link_to japanese_secret_questions_url(format: :txt), japanese_secret_questions_path(format: :txt) %>
or <%= link_to japanese_secret_questions_url(format: :json), japanese_secret_questions_path(format: :json) %></p>
</p>

<h2>Other Site Password Generators.</h2>
<h3>クロネコメンバーズ's Password</h3>
<p><%= link_to kuronekoyamato_co_jp_url, kuronekoyamato_co_jp_path %></p>

<h3>ねんきんネット's Password</h3>
<p><%= link_to nenkin_go_jp_url, nenkin_go_jp_path %></p>

<h3>SBI証券's Password</h3>
<p><%= link_to sbisec_co_jp_url, sbisec_co_jp_path %></p>

<br>

<h2>Github Repository</h2>
<p><a href="https://github.com/masoo/peegee">https://github.com/masoo/peegee</a></p>

<h2>Buy coffee to the author.</h2>
<p><a href="https://www.paypal.me/masoojp">https://www.paypal.me/masoojp</a></p>
<p><a href="https://github.com/sponsors/masoo">https://github.com/sponsors/masoo</a></p>